<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Mood of the day</title>
</head>

<body>
<img th:src="@{/images/MoodScale.jpg}" style="width:500px; display: block; margin: auto; padding-top: 50px; "/>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <div style="display: flex; justify-content: center; align-items: center; border-radius: 15px; background-color:rgb(77,191,77); color:white; margin-top: 10px; padding: 5px 10px; width: 300px">
        <a href="/moodForm" style="text-decoration: none; color: white;">Add your today's mood</a>
    </div>
    <div style="display:flex; justify-content: center; align-items: center; border-radius: 15px; background-color:rgb(77,191,77); color:white; margin-top: 10px; padding: 5px 10px; width: 300px">
        <a href="/reports" style="text-decoration: none; color: white">Show reports</a>
    </div>

    <div style="display:flex; justify-content: center; align-items: center; border-radius: 15px; background-color:rgb(77,191,77); color:white; margin-top: 10px; padding: 5px 10px; width: 300px">
        <a href="mailto:catalingheorghe111@gmail.com?subject=EMD issue identified&body=Hello,%0d%0d I have identified the following issue:" style="text-decoration: none; color: white">Report an issue</a>
    </div>
</div>
</body>
</html>
