<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Mood of the day - Reports</title>
</head>

<body>
<img th:src="@{/images/MoodScale.jpg}" style="width:500px; display: block; margin: auto; padding-top: 50px; "/>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <div style="display: flex; justify-content: center; align-items: center; border-radius: 15px; background-color:rgb(77,191,77); color:white; margin-top: 10px; padding: 5px 10px; width: 300px">
        <a href="/reports/teamAverage" style="text-decoration: none; color: white;">Team Average Mood Report</a>
    </div>
    <div style="display:flex; justify-content: center; align-items: center; border-radius: 15px; background-color:rgb(77,191,77); color:white; margin-top: 10px; padding: 5px 10px; width: 300px">
        <a href="/reports/topMood" style="text-decoration: none; color: white">Team Top Mood Report</a>
    </div>
</div>
</body>
</html>
